@import '../../common/CustomizeAntD.less';
.blog-header {
  display: flex;
  align-items: center;
  height: 48px;
  background: @primary-color;
  padding: 0 12px 0 0;
  .logo {
    height: calc(~"100% - 16px");
    padding: 0 18px;
  }
  .nav {
    display: flex;
    margin: 0;
    flex: 1;
    &-i > a {
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      padding: 0 8px;
      transition: color .2s;
      &:hover {
        color: #FFFFFF;
      }
      &.active {
        color: #FFFFFF;
      }
    }
  }
  .search {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    input {
      box-sizing: border-box;
      border: 1px solid @primary-color;
      border-radius: 2px;
      line-height: 28px;
      height: 28px;
      padding: 2px 8px;
      transition: width .3s;
      width: 200px;
      &:focus {
        width: 320px;
        border: 1px solid #1C73A5;
      }
    }
  }
}
